* {
    box-sizing: border-box;
}

/* General Styles */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 2.5rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-top: 32px;
    margin-bottom: 24px;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    line-height: 1.5em;
}

.author {
    font-size: 0.8rem;
    font-stretch: condensed;
    margin-top: 1.5rem;
}

/* Header Section */

header {
    padding: 0 24px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: white;
}

#header-desktop nav {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: inline-flex;
    align-items: center;
}

.logo-img-container {
    width: 42px;
    overflow: hidden;
    display: inline-block;
}

.logo-img-container img {
    width: 100%;
    height: auto;
}

#logo-text-container {
    display: inline;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#logo-text-1 {
    font-weight: bold;
}

#logo-text-2 {
    color: gray;
}

header ul {
    display: inline;
}

header li {
    display: inline;
    margin-left: 16px;
    font-size: 1.25rem;
}

#header-mobile {
    display: none;
}

/* Mobile Header */
@media only screen and (max-width: 745px) {
    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
        /* height: 64px; */
    }

    #header-mobile nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;
    }

    #header-mobile img {
        height: 35px;
        width: auto;
    }
}


/* Banner Section */

#banner {
    background-color: lightgray;
    position: relative;
    top: 64px;
}

#banner .picture-container {
    width: 60%;
    height: auto;
    overflow: hidden;
    padding: 32px 24px;
}

#banner .picture-container img {
    width: 100%;
    height: auto;
    display: block;
}

#banner .textbox {
    height: 100%;
    padding: 32px 16px;
    position: absolute;
    left: 60%;
    top: 0px;
    display: flex;
    align-items: center;
}

#banner .vertical-center {
    padding-right: 15%;
}

#banner .button {
    padding: 8px 0;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

@media only screen and (max-width: 970px) {
    #banner .vertical-center {
        padding-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    #banner .picture-container {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 0px;
    }

    #banner .textbox {
        padding: 32px 16px;
        position: static;
    }

    h1 {
        margin-bottom: 32px;
    }

    #banner .button {
        margin-top: 24px;
    }
}

/* Information Section */
#information {
    position: relative;
    top: 64px;
    width: 100%;
}

#main-article {
    padding: 32px 24px;
    width: 60%;
}

#main-article .picture-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#main-article .picture-container img {
    width: 100%;
    height: auto;
    display: block;
}

#secondary-block {
    position: absolute;
    width: 40%;
    left: 60%;
    top: 16px;
}

.secondary-article {
    position: relative;
    padding: 16px 24px 16px 16px;
}

.secondary-article .picture-container {
    width: 35%;
    height: auto;
    overflow: hidden;
}

.secondary-article .picture-container img {
    width: 100%;
    height: auto;
    display: block;
}

#information .textbox {
    position: absolute;
    left: 35%;
    top: 0;
    height: 100%;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

#information p {
    margin: 8px 0;
}

#information a {
    color: royalblue;
}

